@page "/Admin/Delete-role/{roleid}"
@model App.Admin.Role.DeleteModel
@{
    ViewData["Title"] = "Day la danh sach cac role";
}
<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="@Model.StatusMessage">
<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Ban co chac chang so <strong>@Model.Role.Name</strong></p>
            <div class="form-group m-2">
                 <input type="submit" value="Delete" class="btn btn-danger">
                 <a class="btn btn-primary" asp-page="./index">Danh sach cac role</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}