@page "/user/du -lieu-ca-nhan/"
@model PersonalDataModel
@{
    ViewData["Title"] = "du lieu ca nhan";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ban co the tai du lieu ca nhan ve hoac xoa hoan toan tai khoan ca nhan</p>
        <p>
            <strong>Neu xoa tai khoan thi khong the khoi phuc.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">tai du lieu</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">xoa tai khoan</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
