@page "/khongthetruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Han che truy cap";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">ban khong the truy cap chuc nang nay</p>
</header>
