@page "/khoataikhoan.html"
@model LockoutModel
@{
    ViewData["Title"] = "Tai khoan bi khoan";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tai khoan bi khoa, thu lai sau</p>
</header>
